*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

/* Nav-Bar */
#nav{
    display: flex;
    height: 2.3rem;
    width: 100%;
    background-color: burlywood;
    margin-top: 2px;
    border: 2px solid brown;
    border-radius: 8px;
    padding-left: 5px;
    padding-top: 1px;
}

#navimg{
    display: inline-block;
    background-image: url('tic-tac-toe.png');
    height: 1.9rem;
    width: 1.9rem;
    background-size: cover;
    border-radius: 5px;
}

#navtext{
    display: inline-block;
    padding-top: 8px;
    padding-left: 8px;
}

#container{
    display: flex;
    height: 34.5rem;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

/* player board */

#pnavcontainer{
    height: 3rem;
    margin-top: 1rem;
    
}

.ptnav{
    margin-left: 2rem;
    margin-right: 3rem;
}

#resetbtn{
    height: 1.5rem;
    width: 4rem;
    border-radius: 13px;
    padding-bottom: 1px;
    background-color: #e7cdac;
}

#resetbtn:hover{
    background-color: #e6daca;
}

#pinfocontainer{
    height: 5rem;
}

#pinfo{
    font-size: xx-large;
    display: inline-block;
    margin: 1rem 2rem 0 2rem;
}


#vimg{
    margin-left: 1rem;
    margin-top: 1rem;
    width: 0rem;
    
    transition: width 1s;
}

/* Game board */

#game{
    display: flex;
    height: 25rem;
    width: 25rem;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}


.box{
    
    height: 33.33%;
    width: 33.33%;
    text-align: center;
    font-size: 4rem;
    padding-top: 5%;
    cursor: pointer;
}

.bt{
    border-top: 2px solid black;
}
.bb{
    border-bottom: 2px solid black;
}
.bl{
    border-left: 2px solid black;
}

.br{
    border-right: 2px solid black;
}

.box:hover{
    background-color: #faf3ea;
}

@media(max-width:820px){
    .ptnav{
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    
    #pinfo{
        font-size: x-large;
        margin-left: 0.5rem;
        
    }
    
    #game{
        height: 20rem;
        width: 20rem;
        margin-top: 6rem;
        flex-shrink: 2;
        
    }
    
    .box{
        padding-top: 1.5rem;
        font-size: 3rem;
    }
}

@media(max-width:620px){
    #container{
        height: 100vh;
    }
    #pnavcontainer{
        height: 2rem;
        margin-top: 0.2rem;
        
    }
    
    #pinfocontainer{
        display: flex;
        height: 7rem;
    }
    
    #pinfo{
        margin: 0;
        margin-left: 0.5rem;
        
    }

    #vimgdiv{
        display: inline;    
    }
    
    #game{
        margin-top:0; 
        margin-left: 0.5rem;       
        height: 18rem;
        width: 18rem;
    }
}
